* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Spirax', cursive;
}

body {
  color: black;
}

.App {
  height: 100vh;
}

h1 {
  text-align: center;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 80vh;
}

button {
  padding: 10px;
  outline: none;
  border: 2px solid black;
  color: aliceblue;
}

.quote-box {
  display: flex;
  padding: 10px;
  /* background-color: #e2dccd; */
  background-color: black;
  flex-direction: column;
  border: 2px solid red;
  width: 750px;
  height: 600px;
}

.quote-box q {
  font-size: 40px;
}

.quote-box p {
  font-size: 25px;
  text-align: right;
}
